body {
	background-color: #333333;
	color: lightgrey;
	font-family: Verdana, sans-serif;
	
}

h1 {
	font-family: Verdana, sans-serif;
	color: lightpink;
	border-bottom: 5px dotted hotpink;
	margin-bottom: 15px;
}

h2 {
	font-family: Verdana, sans-serif;
	color: deeppink;
	font-style: italic;
	font-weight: lighter;
	margin-bottom: 0px;
	margin-top: 0px;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 25px;
	padding-left: 30px;
}

h3 {
	margin-bottom: 5px;
}

p {
	margin-top: 0px;
	line-height: 1.35em;
}

ol {
	padding-left: 30px;
}

ul {
	padding-left: 30px;
	margin-top: 0px;
}

figure {
	float: left;
	margin-left: 10px;
	margin-right: 15px;
	margin-top: 0px;
	color: darkslategray;
	font-style: italic;
	font-family: Verdana, sans-serif;
	padding: 15px;
}

@media (max-width: 480px) { figure { float: none; margin-left: initial; } }

a:link {
	color: lightpink;
	text-decoration: none;
}

a:visited {
	color: greenyellow;
}

a:hover { 
	color: #bafffe;
}

p:first-letter {
	font-size: 22px;
}

p:first-line {
	color: lightslategrey;
}

.shrimp {
  color: deeppink;
	font-family: Verdana, sans-serif;
}

.minotaur {
	font-size: 50px;
}

.aaa {
	color: mediumseagreen;
}

.container {
	width: 95%;	
	max-width: 1500px;
	display: grid;
	grid-template-columns: 2fr 1fr;
}

@media (max-width: 480px) {
	.container {
		display: block; 
		width: 80%;
	} /* ...this will un-do CSS Grid on the container */ }


header, footer, .lead, nav, .full-width {
	grid-column: 1 / 3;
}

.lead {
	background-image: url("../images/furry.jpg");
	background-size: 100%;
	color: black;
	border: 3px dotted black;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 25px;
	text-align: left;
	box-shadow: inset 0 0 10px black;
	border-radius: 10px;
}

article {
	margin-right: 10px;
}

aside {
	margin-left: 10px;
	margin-top: 0px;
}

.flowing-boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	border: 3px dotted lightpink;
	border-radius: 10px;
	box-shadow: inset 0 0 10px hotpink;
	padding: 25px;
	margin-top: 10px;

}

.flowing-boxes li {
  flex-basis: 400px;
	list-style-type: none;
	border: 1px solid lightslategrey;
	padding: 15px;
}
