@media screen and (max-width: 480px) {
  thead { display: none; }
  tr:nth-child(even) { background-image: url("../images/block.png"); }
  td {
	  display: flex;
  }
  td::before {
    font-weight: bold;
	padding-right: 15px;
	white-space: nowrap;
  }
	td:nth-of-type(1):before { content: "Readability:"; }
	td:nth-of-type(2):before { content: "Elements:"; }
	td:nth-of-type(3):before { content: "Recognition:"; }
}